@tailwind base;
@tailwind components;
@tailwind utilities;

.back{
  background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-back{
  background-image: url('../assets/hero-bg.png');
  background-size: cover;
  background-position: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}